:root {
    --cor-primaria: #383838;
    --cor-secundaria: #ffc9c1;
    --cor-terciaria: #ff7070;

    --font-primaria: "Poiret One", sans-serif;
    --font-secundaria: "Space Grotesk", sans-serif;
}

* {
    margin: 0;
    padding: 0;
}

body {
    box-sizing: border-box;
    background-color: var(--cor-primaria);
    color:var(--cor-secundaria);
}

.cabecalho {
    padding: 2% 0 0 15%;
}

.cabecalho__menu {
    display: flex;
    gap: 4rem;
}

.cabecalho__menu__link {
    color:var(--cor-secundaria);
    font-family: var(--font-secundaria);
    font-weight: 300;
    font-size: 1.5rem;
    text-decoration: none;
}

.cabecalho__menu__link:hover {
    color:var(--cor-terciaria);
}

.titulo-destaque {
    color: var(--cor-terciaria);
}

.apresentacao {
    padding: 5% 15%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 0px;
    margin-bottom: 50px;
}

.apresentacao__conteudo {
    width: 50%;
    display: flex;
    flex-direction: column;
    gap: 1rem;

}

.apresentacao__conteudo__titulo {
    font-family: var(--font-primaria);
    font-weight: 400;
    font-size: 4rem;
    font-style: normal;
    color: var(--cor-terciaria);
}
 

.apresentacao__conteudo__paragrafo {
    font-family: var(--font-secundaria);
    font-weight: 300;
    font-size: 1.5rem;
    font-style: normal;
}

.apresentacao__conteudo__texto {
    font-family: var(--font-secundaria);
    font-weight: 300;
    text-align: justify;
    font-size: 1rem;
    font-style: normal;
}

.apresentacao__conteudo_contato {
    font-size: 1.5rem;
    color: var(--cor-terciaria);
    font-family: var(--font-secundaria);
    font-weight: 300;
}

.apresentacao_links {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    gap: 1rem;
}

.apresentacao_links__navegacao {
    justify-content: center;
    width: 70%;
    gap: 1rem;
    text-align: center;
    border: 4px solid var(--cor-terciaria);
    border-radius: 16px;
    padding: 12px 10px;
    font-size: 1.063rem;
    text-decoration: none;
    color: var(--cor-secundaria);
    font-family: var(--font-secundaria);
    font-weight: 300;
    font-style: normal;
}

.apresentacao_links__navegacao:hover {
    background-color: var(--cor-secundaria);
    color: #383838;
    border: 4px solid var(--cor-secundaria);
}

.apresentacao__imagem {
    width: 65%;
}

.rodape {
    padding: 15px;
    font-family:var(--font-secundaria);
    font-weight: 300;
    font-size: 1rem;
    text-align: center;
    color:#383838;
    background-color: var(--cor-secundaria);

}

@media (max-width: 1000px) {
    .cabecalho {
        padding: 10%;
    }

    .cabecalho__menu {
        justify-content: center;
    }

    .apresentacao {
        flex-direction: column-reverse;
        padding: 5%;
    }

    .apresentacao__conteudo {
        text-align: center;
        width: auto;
    }

    .apresentacao__imagem {
        width: 100%;
    }
}